
.homeContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 86.9vh;
    padding-bottom: 6rem;
    
    #homeHeading {
        font-size: 3rem;
    }
    
    button {
        cursor: pointer;
        padding: 0.5rem;
        font-size: 1.1rem;
        margin: 2rem 0 3rem 0;
        border-radius: 1rem;
        color: white;
        background-color: black;
        transition: box-shadow 0.3s ease;

        &:hover {
            box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.3);
        }
        
        }
        .squirrel {
            width: 10rem;
            margin: 2rem 2rem 2.5rem 0;
            cursor: pointer;
        }
        .handIcon {
            width: 6rem;
            animation: moveUpAndDown 1.8s infinite ease-in-out;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.2rem;
        }
}

@media screen and (max-width: 47.94rem) {
    .homeContainer{

        #homeHeading {
            font-size: 2.3rem;
        }

        p {
            font-size: 1.3rem;
        }
        
    }
}